<div class="container">
  <h4>Contact us about any questions you have about our products</h4>
  <form class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">

    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email">

    <label for="message">Message</label>
    <input type="text" class="form-control" id="message" name="message">

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
